[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "superpowers-marketplace"]
	path = superpowers-marketplace
	url = https://github.com/obra/superpowers-marketplace.git
